/* nav styles */

body{
      background-color:#1c2833;
}

img{
  margin-left: 500px;
margin-top:-450px;
}
p{
  font-family: "Smooch Sans", sans-serif;
  font-size:20px;
}
 h1 {
    color: #566573 ;
    margin-left: 600px;
    margin-top:100px;
     font-family: "Roboto Condensed", sans-serif;
  }

  h2 {
    color: #566573 ;
    margin-left: 500px;
    margin-top:60px;
   font-family: "Roboto Condensed", sans-serif;
  }


  p{
    color:#d0d3d4;
    text-align: center;
  }

  .nav-links {
    max-width: 600px; 
    margin-left: 580px;
    margin-top: -30px;
    display: flex;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
  }
  .nav-links li {
    list-style: none;
}
  
  .nav-links a {
     display: block;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b7950b;
  }
  
  