---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";

const posts = await getCollection("posts");
console.log("Posts cargados:", posts);
console.log("Posts length:", posts.length);
---
<BaseLayout 
  title="Economía Bullish" 
  description="Aquí encontrarás artículos sobre <u>economía</u> y <u>política</u>"
>

</BaseLayout>
   <body>
    <main>
      <h2 class="mb-5" style="position: relative; left: -120px">Posts</h2>
      <ul>
        {posts.map(post => (
          <li>
  <p class="mb-5" style=" color: #566573;position: relative; left: -120px">
    {post.data.date}
  </p>

  <p class="mb-5 text-gray shift-left">
    <a href={post.data.estreno} target="_blank" rel="noopener noreferrer" style="color: #d0d3d4; position: relative; left:35px; top:-75px;">
      {post.data.title}
    </a>
  </p>

  <p class="mb-5" style="position: relative; left:-1px; top:-100px;">
    "{post.data.descripcion}"
  </p>
</li>
        ))}
      </ul>
    </main>
  </body>

<Footer />



