---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout 
  title="No Solo Economía" 
  description="Aspirante a convertirme en economista.<br> Es un blog para aprender de Economía y política, aunque no solo eso."
>
  <div style="display: flex; gap: 20px; align-items: center;">
    <!-- Imagen -->
    <img 
      src="/images/Michael.jpg" 
      alt="Foto de Michael Moncayo"
      width="10" 
      height="40"
   >
    <div>
      <p>
        Soy un aspirante a economista con pasión por entender cómo funcionan las sociedades,
        cómo se toman decisiones políticas, y cómo todo esto afecta nuestra vida diaria.
      </p>
      <p>
        Este blog es mi espacio personal para compartir ideas, aprender y conectar con otras
        personas interesadas en estos temas.
      </p>
    </div>
  </div>
</BaseLayout>


