---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout 
  title="Economía Bullish" 
  description="Aspirante a convertirme en economista.<br> Es un blog de <u>economía</u> y <u>política</u>, aunque no solo eso."
>

</BaseLayout>

<main style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <img 
      src="/images/Michael.jpg" 
      alt="Foto de Michael Moncayo"
      width="300" 
      height="400"
      style="border-radius: 8px;"
    >
  </main>

<Footer />