---
import "../styles/global.css"
---

  <nav class="menu">
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
    </ul>
  </nav>