---
import { Icon } from "astro-icon/components";

/**
 * Uses https://github.com/natemoo-re/astro-icon#readme
 * Find icons @ https://icones.js.org/
 */
const socialLinks: Array<{
  name: string;
  friendlyName: string;
  link: string;
  isWebmention?: boolean;
}> = [
  {

     name: "mdi:github",
    friendlyName: "Github",
    link: "https://github.com/Moncayo1329",
  },
  {
    name: "mdi:linkedin",
    friendlyName: "LinkedIn",
    link: "https://www.linkedin.com/in/michael-moncayo-35725519a/",
  },
  {
    name: "mdi:twitter",
    friendlyName: "Twitter",
    link: "https://x.com/MichaelMoncay7",
  },
  {
    name: "mdi:email",
    friendlyName: "Email",
    link: "mailto:moncayomichael23@gmail.com",
    isWebmention: true,
  },
];
---

<div class="d-flex justify-content-center align-items-end gap-3">
<p style="position: relative; left:-50px">Contactos</p>
<ul class="d-flex justify-content-center gap-2 flex-shrink-0">
  {socialLinks.map(({ link, name, friendlyName, isWebmention }) => (
    <li class="d-flex" style="position: relative; left:-85px">
      <a
        class="d-inline-block p-1 social-link"
        href={link}
        target="_blank"
        rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
      >
        <Icon class="h-6 w-6" 
         style="width: 30px; height: 28px; color: #566573;" 
         name={name} aria-hidden="true" focusable="false" />
      </a>
    </li>
  ))}
</ul>
</div>