---
// src/layouts/BaseLayout.astro
import Header from "../components/Navigation.astro";
import SocialList from "../components/SocialList.astro";


interface Props {
  title: string;
  description?: string;
  image?: string;
}


const {
  title = "Economía Bullish",
  description = "Aspirante a convertirme en economista.<br> Es un blog para aprender de <u>Economía</u> y <u>política</u> aunque no solo eso.",
  image = "/economicspod.png"
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Economía Bullish">
<meta name="twitter:description" content="Es un podcast de economía y política, aunque no solo eso. Aspirante a convertirme en economista.">
    <title>{title}</title>
    <meta name="description" content={description?.replace(/<[^>]+>/g, '') || "Blog de economía"} />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
   <main class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
      <div class="title-container">
        <a href="/" class="logo">
          <img 
            src="images/economicspod.png"
            width="60"
            height="60"
            style="border-radius: 30%;"
            alt="Economics logo"
          />
        </a>
        <h1 class="mb-1">{title}</h1>
      </div>
      <Header />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 col-lg-10 my-4 mx-auto text-center">
      <h2 class="mb-5" style="position: relative; left: -70px">Hola a todos! 👋</h2>
       <p class="lead" set:html={description}></p>
    </div>
    <SocialList />
  </div>
</main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  




</body> 
</html>

