---
// src/layouts/BaseLayout.astro
import Header from "../components/Navigation.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "No Solo Economía",
  description = "Aspirante a convertirme en economista.<br> Es un blog para aprender de Economía y política aunque no solo eso.",
  image = "/economicspod.png"
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description.replace(/<[^>]+>/g, "")} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1>{title}</h1>
       <Header />

       <h2>Hola a todos!👋</h2>
      <p set:html={description}></p>
      <slot /> <!-- Aquí se inserta el contenido de las páginas -->
    </main>
  </body>
</html>
